.html {
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url('../img/house-estate.jpg');
    background-size: cover;
}
.html::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.30);
}
.jumbotron{
   background-color: #53E6A1;
   color: black;
   padding: 2rem 1rem;
   margin-bottom: 1.5rem;
   border-radius: 0.3rem;
}
.yellow{
   background-color: #FEE2A2;
   color: black;
   padding: 2rem 1rem;
   margin-bottom: 2rem;
   border-radius: 0.3rem;
}
.orange{
background-color: #FFC281;
color: black;
padding: 2rem 1rem;
margin-bottom: 2rem;
border-radius: 0.3rem;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #3e8e41;
}

#myInput {
  box-sizing: border-box;
  background-image: url('searchicon.png');
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

h1 {
    color: rgba(0 , 0, 64, 1);
}